body{
  margin: 20;
  padding: 0;
}

#top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 220px;
  font-family: Open Sans, sans-serif;
}

#name{
  color: #26749D;
  font-size: 200%;

}

#navigation a {
  color: #26749D;
  font-size: 150%;
  text-decoration: none;
  margin-left: 16px;
  font-weight: bold;
}

#navigation a:hover {
  text-decoration: overline;
}

#image1{
  text-align: center;
  background-color: gray;
  padding: 16px;
}

#image1 img{
  width: 1400px;
  height: 600px;
}

#me{
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;

}

#about-me img{
  width: 500px;
  height: 700px;
}

#text-me{
  text-align: center;
  background-color: gray;
  margin-left: 16px;
  width: 30%;
}

#footer
